/**{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccf78c;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    padding: 20px;
    text-align: center;
}
p{
    line-height: 2;
    padding: 1rem;
}
img{
    width: 300px;
}
.img{
    text-align: center;
}
footer{
    background-color: #242481;
    color:white;
    padding: 1rem;
    
}*/